{% extends '_base.html' %}
{% block title %}About{% endblock title %}
{% block content %}

<div class="container">
    <h1 class="display-4 text-center">About Page</h1>
    <div class="row">
        <div class="col">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi corporis veritatis beatae, consequatur hic at, provident quasi culpa optio fugiat earum dolor repellendus velit, quos odio deleniti a ex eum?
        </div>
        <div class="col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum praesentium ipsum harum veritatis, reiciendis, fugit adipisci fugiat porro provident in possimus quis officiis perspiciatis. Iste quae exercitationem officiis sapiente enim.
        </div>
    </div>
  
</div>

{% endblock content %}